<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DesafioWinForms_DB.Properties.Settings.DesafioVenda_dbConnectionString"
            connectionString="Data Source=FELIPEBONARDI\SQLEXPRESS;Initial Catalog=DesafioVenda_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>